---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// 카테고리 및 태그의 색상
.taxonomy__index > li {
    color:salmon;
    font-size: 1em;
}


.list__item {
    font-size: 0.9em;
}

h2.archive__subtitle {
    margin: 1.414em 0 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    color: #393e46;
    border-bottom: 1px solid #cecfd1;
  }

.page__content > h1,
.page__content > h2,
.page__content > h3,
.page__content > h4,
.page__content > h5,
.page__content > h6 {
    display: inline-block;
    font-family: 'Courier New', Courier, monospace;
    padding: 1px;
}

.page__content > h1 {
    background-color: tomato;
}

.page__content > h2 {
    background-color: #f6e199;
}

.page__content > h3 {
    background-color: greenyellow;
}

.page__content > h4 {
    background-color: cornflowerblue;
}

.page__content > h5 {
    background-color: #9b5391;
}

.page__content > h6 {
    background-color: #701878;
}

.page__content > img {
    max-height: 80%;
    min-height: 80%;
}
  
    