---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


.taxonomy__index > li {
    color:salmon;
    font-size: 1em;
}

.list__item {
    font-size: 0.9em;
}

h2.archive__subtitle {
    margin: 1.414em 0 0.5em;
    padding-bottom: 0.5em;
    font-size: 2em;
    color: #393e46;
    border-bottom: 1px solid #cecfd1;
  }

a:visited {
    color: blue;
}

/* 테스트용 CSS 입니다.

.custom-style {

    h2 {
        color: cornflowerblue;
        border-bottom: 2px solid gray;
    }


    #div02, #div03{
        border: 2px gray dotted;
        margin: 2px;
        width: 30vw;
        height: 50vh;
        overflow: auto;
        display: inline-block;
    }

    #div01{
        width: 66vw;
        height: 50vh;
        margin: auto;
    }

}
    
*/