.head {
    border: 2px solid black;
    height: 20vh;
    width: 60vw;
    background-color: blue;
    position: static;
}

.body {
    border: 2px solid black;
    height: 20vh;
    width: 60vw;
    background-color: red;
    position: relative;
    top: 20px;
}

.foot {
    border: 2px solid black;
    height: 20vh;
    width: 60vw;
    background-color: yellow;
}

#left {
    border: 2px solid black;
    height: 20vh;
    width: 20vw;
    background-color: green;
    display: inline-block;  
    position: absolute;
    left: 20px;
}

#right {
    border: 2px solid black;
    height: 20vh;
    width: 20vw;
    background-color: black;
    display: inline-block;
    position: absolute;
    right: 20px;
}

#WO{
    position: relative;
    background-color: aqua;
    align-items: center;
    display: flex;
}